<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>model-detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <td th:text="${model.id}"></td>
    </tr>
    <tr>
        <th>name</th>
        <td th:text="${model.name}"></td>
    </tr>
    <tr>
        <th>model</th>
        <td><img th:src="@{|/modelUpload/${model.storedFileName}|}" alt=""></td>
        <td th:each="fileName: ${model.storedFileName}">
            <img th:src="@{|/modelUpload/${fileName}|}" alt="">
        </td>
    </tr>
</table>
<button onclick="listReq()">목록</button>
<button onclick="updateReq()">수정</button>
<button onclick="deleteReq()">삭제</button>
</body>

<!--    변수를 받아오려면 th:inline 이 필요함   -->
<script th:inline="javascript">
    const listReq = () => {
        console.log("목록 요청");
        location.href = "/model/";
    }
    const updateReq = () => {
        console.log("수정 요청");
        const id = [[${model.id}]];
        location.href = "/model/update/" + id;
    }
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = [[${model.id}]];
        location.href = "/model/delete/" + id;
    }
</script>
</html>